@font-face {
  font-family: "Montserrat";
  src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat";
  color: #404040;
  height: 100vh;
  background-color: black;
}

h1 {
  font-size: 24px;
}

form {
  background-color: white;
  padding: 50px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 400px;
}

.campo-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.lembrar-me {
  display: flex;
  gap: 5px;
}

.titulo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

button {
  padding: 10px;
  align-self: center;
  width: 160px;
  border-radius: 14px;
  background: rgb(8, 219, 22);
  background: linear-gradient(
    90deg,
    rgba(8, 219, 22, 1) 0%,
    rgba(95, 219, 9, 1) 61%
  );
  border: solid 1px #256a8a;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  font-family: "Montserrat";
}

input {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #f1f1f1;
}

a {
  color: rgb(0, 174, 255);
  font-weight: 500;
}

.container-2 {
  background-color: rgba (#255, #255, #255, 0.4);
  opacity: 0.9;
  display: flex;
  justify-content: center;
  padding-top: 8%;
}

.esqueceu-senha {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  background-image: url(/assets/img/wallpaper\ portal\ 2.jpg);
  background-size: cover;
  height: 100vh;
  position: absolute;
  width: 100vw;
  opacity: 0.6;
}

@media (max-width: 600px) {
  .container-2 {
    padding-top: 30%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
